.content__wrapper_info {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
}

.content__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.content__info_slider {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 44px;
    flex: 1;
}

.content__info_text {
    font-family: Montserrat-Regular, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 200%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex: 1;
}

.content__info_slider-text-wrapper {
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 183%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: space-between;
    width: 20rem;
    height: 6rem;
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

.content__info_slider-line {
    position: relative;
    height: 1px;
    margin: 0 20px;
    background: white;
    width: 100%;
}

.content__info_slider-line-color {
    position: absolute;
    left: 0;
    border: 1px solid #A75B12;
    background: #A75B12;
    color: #A75B12;
}

.content__info_slider-text-wrapper-button {
    outline: none;
    background: transparent;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: inherit;
    line-height: 183%;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    padding: 0 4px;
}


/* L A P T O P */

@media (max-width: 1440px) {
    .content__info_text {
        display: none;
    }

    .content__info {
        width: 100%;
    }
}


/* T A B L E T 1024PX */

@media (max-width: 1024px) {
    .content__info_text {
        display: none;
    }

    .content__info {
        width: 100%;
    }

    .content__info_slider {
        padding: 20px 40px;
    }

    .content__info_slider-text-wrapper {
        font-size: 4rem;
    }
}


/* T A B L E T 768PX */

@media (max-width: 768px) {
    .content__info_slider {
        padding: 10px 20px;
    }

    .content__info_slider-text-wrapper {
        font-size: 3.5rem;
    }

    .content__info_slider-text-wrapper-button {
        font-size: 3.5rem;
    }
}


/* T A B L E T 600PX */

@media (max-width: 600px) {
    .content__info_slider-text-wrapper {
        font-size: 3rem;
    }

    .content__info_slider-text-wrapper-button {
        font-size: 3rem;
        padding: 0 4px
    }

    .content__info_slider {
        padding: 10px 0;
    }

    .content__info_slider-line {
        padding: 0 20px;
    }
}


/* M O B I L E */

@media (max-width: 425px) {
    .content__info {
        padding: unset;
    }
    .content__info_slider-text-wrapper {
        flex: 1
    }
    .content__info_slider-line {
        flex: 2;
        padding: unset;
    }

    .content__info_slider-text-wrapper {
        width: 14rem;
    }

    .content__info_slider-text-wrapper-button {
        padding: unset;
    }
    .content__info_slider {
        padding: 0 1.8rem
    }
}
